@font-face
{font-family: "minionpro";
    src: url(./fonts/MinionPro-Regular.otf);   
}

body{
    font-family: "minionpro"; 
}
header{
    height: 72px;
    width: 1302px;
    margin:auto; 
    background-color:#8C0A0D ;
}

.logo{
    background-image: url(./img/Слой\ 12.png);
    width: 177px;
    height: 41px;
    position: absolute;
    margin-top: 15px;
    margin-left: 67px;

   
}

.menu{
    height: 11px;
    margin: 0;
    padding-top: 30px;
    padding-left: 330px;
    font-size:14px;

}

 a{
    text-decoration:none;
    color: #FFE394;
 }

li{
    float: left;
    list-style: none;
    padding-left: 30px;
    color:#ffe394;
    cursor:pointer;

}

#icon_eng{
    background-image: url(./img/English.png);
    height: 18px;
    width: 26px;
    background-repeat: no-repeat;
    margin-left: 100px;}

#lb_eng{
    margin-left: -20px;
    padding-left: 0px;
}

main{
    width: 1302px;
    height: 656px;
    background-image: url(./img/Слой\ 15.png);
    background-size:1302px 800px;
    background-repeat: no-repeat;
    margin: auto;
    position: relative;
}

.background{
    width: 1305px;
    height: 658px;
    opacity: 0.8;
}
.section1{
    position: relative;
}
.factory_img{
    background-image: url(./img/Слой\ 5.png);
    width: 1170px;
    height: 335px;
    background-size: 1170px 335px;
    position:absolute;
    top: 30px;
    left: 60px;
    border-color: #35040c;
    border-width: 5px;
    border-style: solid;
    background-repeat: no-repeat;
}

.in_world{
    position: absolute;
    top: 55px;
    left: 426px;
}
#roshen_inw{
    font-size: 60px;
    color: #35040C;
}

.right_irrow{
    background-image: url(./img/right-arrow-cir\ \(2\).png);
    width: 55px;
    height: 55px;
    position: absolute;
    top: 180px;
    left: 94px;  
}

.right_irrow2{

    background-image: url(./img/right-arrow-cir.png);
    width: 55px;
    height: 55px;
    position: absolute;
    left: 1152px;
    top: 180px;
}

.button{
background-color: #F6CC79;
width: 191px;
height: 34px;
position: absolute;
top: 132px;
left: 558px;
text-align: center;
font-size: 24px;
border-radius: 10px;
box-shadow: 0px 7px 1px 0px #bf670d;
padding-top: 10px;
font-weight: bold;
}

.circuit1{
    width: 18px;
    height: 17px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 350px;
    left: 619px;
}
.circuit2{
    width: 18px;
    height: 17px;
    border-radius: 50%;
    background-color:#BF670D;
    position: absolute;
    top: 350px;
    left: 643px;
}

.circuit3{
    width: 18px;
    height: 17px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 350px;
    left: 666px;
}
.content{
    overflow: auto;
}
.corporation{
    width: 269px;
    height: 64px;
    float:left;
    margin-top: 30px;
    margin-left: 65px;

}
 .title{
    font-size: 18px;
    font-weight: bold;
 }

 .information{
    font-size: 16px;
    margin-top: 44px;
 }

 .announcement{
    height: 267px;
    width: 284px;
    position: absolute;
    top: 390px;
    left: 363px;
 }

 .shareholders{
    width: 252px;
    height: 266px;
    position: absolute;
    top: 390px;
    left: 662px;
 }

 .information2{
    font-size: 16px;
    margin-top: 18px
 }

 .corporation2{
width: 276px;
height: 267px;
position: absolute;
top: 390px;
left: 957px;
 }

 footer{
    width: 1302px;
    height: 72px;
    margin:auto; 
    background-color:#8C0A0D ;
    
 }
 .section-footer{
    overflow: auto;
 }

 .site{
float: left;
margin-left:68px;
margin-top:  37px;
font-size: 14px;
 }

 .map{
    float: left;
    margin-left:102px;
    margin-top:  13px;
    width: 144px;
    font-size: 14px;
 }

 .tel{
    float: left;
    margin-left:149px;
    margin-top:  13px;
    width: 144px;
    font-size: 14px;
    text-align: right;
 }

 .mail{
    float: left;
    margin-left:155px;
    margin-top:  13px;
    width: 144px;
    font-size: 14px;
 }

 .fb{
    float: left;
    background-image: url(./img/Слой\ 8.png);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-left: 69px;
    margin-top: 22px;

 }

 .vk{
    float: left;
    background-image: url(./img/Слой\ 9.png);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-top: 22px;
    margin-left: 13px;

 }