@font-face
{font-family: "minionpro";
    src: url(./fonts/MinionPro-Regular.otf);   
}


body{
    font-family: "minionpro"; 
}
header{
    height: 72px;
    width: 1302px;
    margin:auto; 
    background-color:#8C0A0D ;
    overflow: auto;
}

.logo{
    background-image: url(./img/Слой\ 12.png);
    float: left;
    width: 177px;
    height: 41px;
    margin-top: 15px;
    margin-left: 67px;
    background-repeat: no-repeat;
}

ul{
    list-style: none;
    height: 11px;
    margin: 0;
    padding-top: 30px;
    padding-left: 330px;
    font-size:14px;

}

 a{
    text-decoration:none;
    color: #FFE394;
 }

li{
float: left;
padding-left: 30px;
cursor: pointer;
}

#icon_eng{
    background-image: url(./img/English.png);
    height: 18px;
    width: 26px;
    background-repeat: no-repeat;
    margin-left: 100px;
}

#lb_eng{
    margin-left: -20px;
    padding-left: 0px;
}

main{
    
    width: 1300px;
    height: 760px;
    margin: auto;
}
.main-bg{
    width: 1300px;
    height: 760px;
    background-image: url(./img/Слой\ 15.png);
    
}
.img{

    width: 1300px;
    height: 760px;
   background-color: rgba(245, 232, 198, .8);
}

.factory{
    position: relative;
    top: 30px;
    left: 60px;
    width: 1170px;
    height: 335px;
}

.factory_img{
    background-image: url(./img/Слой\ 5.png);
    width: 1170px;
    height: 335px;
    position:absolute;
    border-color: #35040c;
    border-width: 5px;
    border-style: solid;
    background-repeat: no-repeat;
}

.in_world{
    position: absolute;
    top: 30px;
    left: 360px;
}
#roshen_inw{
    font-size: 60px;
    color: #35040C;
}

.right_irrow{
    background-image: url(./img/right-arrow-cir\ \(2\).png);
    width: 55px;
    height: 55px;
    position: absolute;
   left: 28px;
   top: 155px;
}

.right_irrow2{

    background-image: url(./img/right-arrow-cir.png);
    width: 55px;
    height: 55px;
    position: absolute;
    left: 1087px;
    top: 155px;
}

.button{
background-color: #F6CC79;
width: 191px;
height: 34px;
position: absolute;
top: 112px;
left: 492px;
text-align: center;
font-size: 24px;
border-radius: 10px;
box-shadow: 0px 7px 1px 0px #bf670d;
padding-top: 10px;
font-weight: bold;
}

.circuit1{
    width: 18px;
    height: 17px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 310px;
    left: 554px;
}
.circuit2{
    width: 18px;
    height: 17px;
    border-radius: 50%;
    background-color:#BF670D;
    position: absolute;
    top: 310px;
    left: 577px;
}

.circuit3{
    width: 18px;
    height: 17px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 310px;
    left: 601px;
}

.content_head
{
    font-size:17px;
    line-height: 28px;
    padding-top:  20px;
    content: "";
    clear: both;
    display: table;
}  
#head_1
{
    width: 269px;
    height: 64px;
    float:left;
    margin-top: 30px;
    margin-left: 65px;
}
#head_2
{
    width: 276px;
    height: 65px;
    float:left;
    margin-top: 30px;
    margin-left: 30px;
}
#head_3
{
    width: 233px;
    height: 89px;
    float:left;
    margin-top: 30px;
    margin-left: 23px;
}
#head_4
{
    width: 249px;
    height: 63px;
    float:left;
    margin-top: 30px;
    margin-left: 62px;
}
.content_txt
{
    line-height: 26px;
    font-size: 15px;
    margin-top: 10px;
    content: "";
  clear: both;
  display: table;
}  
#txt_1
{
    width: 259px;
    height: 135px;
    float:left;
    margin-top: 30px;
    margin-left: 65px;
}
#txt_2
{
    width: 254px;
    height: 158px;
    float:left;
    margin-top: 30px;
    margin-left: 38px;
}
#txt_3
{
    width: 252px;
    height: 159px;
    float:left;
    margin-top: 30px;
    margin-left: 44px;
}
#txt_4
{
    width: 276px;
    height: 133px;
    float:left;
    margin-top: 30px;
    margin-left: 45px;
}


 footer{
    width: 1302px;
    height: 72px;
    margin:auto; 
    background-color:#8C0A0D ;
    overflow: auto;
 }

 .site{
float: left;
margin-left:68px;
margin-top:  37px;
font-size: 14px;
 }

 .map{
    float: left;
    margin-left:102px;
    margin-top:  13px;
    width: 144px;
    font-size: 14px;
 }

 .tel{
    float: left;
    margin-left:149px;
    margin-top:  13px;
    width: 144px;
    font-size: 14px;
    text-align: right;
 }

 .mail{
    float: left;
    margin-left:155px;
    margin-top:  13px;
    width: 144px;
    font-size: 14px;
 }

 .fb{
    float: left;
    background-image: url(./img/Слой\ 8.png);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-left: 69px;
    margin-top: 22px;

 }

 .vk{
    float: left;
    background-image: url(./img/Слой\ 9.png);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-top: 22px;
    margin-left: 13px;

 }
