   
body{
  margin: 0 auto;
  width: 752px;
  font-family: Monsterrat;

}  
@font-face {
  font-family: Monsterrat; 
  src: url(fonts/Montserrat-Italic-VariableFont_wght.ttf);
 }

  header{
    width: 752px;
    margin: 0 auto;
    background:#2D7053;  
  }

.logo{
  width: 144px;
  height: 144px;
  border-radius:50%;
  background:white;
  margin: 0 auto;
}

.logo-blok{
  width: 144px;
  display: inline-block;
  vertical-align:middle;
  margin-left: 37px;
}

.text{
  display: inline-block;
  width: 275px;
  vertical-align:middle;
  color: white;
  margin-left: 114px;
  font-size: 30px;
}

nav{
  display:inline-block;
  width: 150px;
  vertical-align:middle;
  text-align:right;
}

button{
  background:none;
  border:none;
}

button div{
  width: 87px;
  height: 15px;
  border-radius:7px;
  margin-bottom:5px;
  background:white;
}

.room{
  background-image: url(./room.png);
    height: 466px;
    position: relative;
    padding: 10px 30px;   
}

.button1{
background-color:#CB9223 ;
color: #FFFFFF ;
width:344px ;
height: 77px;
text-align: center;
left: 204px;
 bottom: 47px;
 line-height: 3.1;
 font-size: 23px;
 position: absolute;
 text-decoration: none;
}

.text2{
  color: white;
  text-decoration-line: none;
}

.section2{
  padding: 70px 30px 0px 30px;
}

.woman-img{
  border-radius:50%;
  background-image: url(./154-9254.png);
  width: 255px; 
  height: 276px;
  display: inline-block;
}

.name-fn{
  display: inline-block;
  padding:68px 76px;
  font-size: 36px;
  width: 275px;
  vertical-align: top;
}

.specialization{
  font-size: 24px;
}

.presentation{
padding:46px 1px;
font-size: 24px;
}

.reasons{
font-size: 36px;
}

.list{
  font-size: 21px;
}

ul{
  list-style-type: none;
  padding-left: 0px;
}

.button2{
background-color:#CB9223 ;
color: #FFFFFF ;
width:344px ;
height: 77px;
text-align: center;
line-height: 3.1;
font-size: 23px;
position: relative;
text-decoration: none;
margin-left: 216px;
}

.footer{
height: 156px;
margin-top: 47px;
background-color: #888888;
}

.logo2{
  width: 99px;
  height: 99px;
  border-radius:50%;
  background:white;
  margin-left: 44px;
  margin-top: 29px;
  display: inline-block;
}

.adress{
  display: inline-block;
  margin-left: 100px;
  font-size: 18px;
  color: white;
}

.tel{
  display: inline-block;
  color: white;
  font-size: 17px;
  text-align: right;
  margin-top: 58px;
  margin-left: 45px;
}
